*.exe
*.test
*.prof

# go version deps
vendor/*
!vendor/*.json
.glide
*.lock

# marill specific
marill
bindata.go

# release dirs
dist

# upx failed compile files
*.upx


# text files and logs
*.txt
*.log
test.html
