# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Glide extras
vendor/*
!vendor/*.json
.glide
*.lock

# Marill specific
marill
bindata.go

# release dirs
release

# upx failed compile files
*.upx


# text files and logs
*.txt
*.log
