[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

html, body, #wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #428bca;
    text-decoration: none;
}

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-success { color: #00bd00; }
.text-danger { color: #ff4c4c; }

.main-sidebar {
    width: 250px;
    height: 100%;
    background-color: #30426a;
    color: #FFFFFF;
}

.main-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-sidebar .sidebar-main {
    font-size: 18px;
    line-height: 60px;
    background: #2d3e63;
    padding: 0 25px;
}

.main-sidebar .sidebar-main i.fa {
    float: right;
    margin: 22px 0 0;
}

.main-sidebar .sidebar-title {
    color: #738bc0;
    font-size: 13px;
    font-weight: 600;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s;
    padding: 0 20px;
}

.main-sidebar .sidebar-list a:hover, .main-sidebar .sidebar-main a {
    background: #2d3e63;
}

.main-sidebar .sidebar-list a.active {
    background: #2f6efb;
    border-left: 3px solid #00c1af;
    text-indent: -3px;
    color: #FFFFFF;
}

.main-sidebar .sidebar-list a:hover {
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: -3px;
}

.main-sidebar .sidebar-list {
    height: 40px;
}

.main-sidebar .sidebar-list a {
    font-size: 15px;
    color: #b2bfdc;
    line-height: 40px;
}

.main-sidebar li a {
    padding: 0 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.main-sidebar li > a > i.fa {
    float: right;
    padding: 13px 0 0;
}

.main-sidebar .sidebar-footer {
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: #233150;
}

.main-sidebar .sidebar-version {
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #2d3e63;
}

.main-sidebar .sidebar-version a {
    line-height: 30px;
    color: #b2bfdc;
    font-size: 12px;
}

.main-sidebar .sidebar-footer div a {
    color: #b2bfdc;
    font-size: 12px;
    line-height: 43px;
}

.main-sidebar .sidebar-footer div a:hover, .main-sidebar .sidebar-version a:hover {
    color: #FFFFFF;
    font-weight: 600;
}

.main-content {
    height: 100%;
    background-color: #cccccc;
}

.meta {
    height: 40px;
    padding: 11px;
    background-color: #607D8B;
    color: #FFFFFF;
    border-bottom: #131313;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.meta .pagename {
    font-size: 17px;
    font-weight: 500;
}

.meta div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    height: 60px;
    width: 100%;
}

.nav-icon {
    font-size: 40px;
    margin: 16px 5px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #383838;
    color: rgba(255,255,255,0.87);
}

md-toolbar input {
    margin-top: 25px !important;
    background-color: white !important;
    padding: 4px !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    height: 37px !important;
}

md-list-item:focus {
    -webkit-appearance: none;
    outline: none;
}

.url-results {
    padding: 0;
    transition: all 0.2s ease;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
    margin-bottom: 15px;
}

.url-results > md-list-item {
    padding: 0;
}

.list-url {
    padding: 15px 14px 13px;
    background-color: #E8E8E8;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    outline: none;
    border-bottom: 1px solid #B1B1B1;
}

.list-url:hover {
    background-color: #B1B1B1;
}

.list-url.active {
    background-color: #404040;
    color: white;
}

.list-url i.fa {
    font-size: 20px;
    padding-right: 10px;
}

.list-url .details {
    -webkit-box-shadow: inset 0 0 8px 2px rgba(0,0,0,.22);
    -moz-box-shadow: inset 0 0 8px 2px rgba(0,0,0,.22);
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,.22);
    position: relative;
    bottom: -15px;
    margin-left: -14px;
    margin-right: -14px;
    padding: 15px 6px;
}

.list-url .details .stats {
    margin: 0 10px;
    background-color: white;
    color: #dadada;
    text-align: center;
    padding: 7px;
    font-size: 35px;
}

.list-url .details .stats i {
    position: relative;
    top: -6px;
}

.list-url .details .notice-sm {
    margin: 0 10px 10px !important;
}

.list-url .display > button {
    margin: -5px 0 -5px 10px;
}

.list-url .display .url {
    cursor: pointer;
}

.list-url .chip.chip-sm {
    margin: 0;
}

.list-url .score {
    min-width: 80px;
    display: inline-block;
}

.gradient {
    background: -webkit-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
    background: -o-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
    background: -ms-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
    background: -moz-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
    background: linear-gradient(20deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
    background-attachment: fixed;
    background-color: #1c2533;
}

.gradient-single {
    background: -webkit-linear-gradient(70deg,#080f1f 4%,#2b4b5a 110%,#435e67 100%);
    background: -o-linear-gradient(70deg,#080f1f 4%,#2b4b5a 110%,#435e67 100%);
    background: -ms-linear-gradient(70deg,#080f1f 4%,#2b4b5a 110%,#435e67 100%);
    background: -moz-linear-gradient(70deg,#080f1f 4%,#2b4b5a 110%,#435e67 100%);
    background: linear-gradient(20deg,#080f1f 4%,#2b4b5a 110%,#435e67 100%);
    background-color: #1c2533;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #F5F5F5;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background-color: #383838;
    background-clip: padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #BBBBBB;
}

.notice {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.notice.notice-sm {
    margin: 10px 10px !important;
    padding: 10px !important;
}

.notice h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.notice p:last-child {
    margin-bottom: 0;
}

.notice code {
    background-color: #fff;
    border-radius: 3px;
}

.notice-success {
    background-color: #d3e4cb;
    border-color: #3C763D;
    color: #3C763D;
}

.notice-danger {
    background-color: #dbd0d0;
    border-color: #d9534f;
    color: #d9534f;
}

.notice-warning {
    background-color: #e0dbd2;
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.notice-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
    color: #5bc0de;
}

.notice-default {
    background-color: #EEE;
    border-color: #B4B4B4;
    color: #B4B4B4;
}

.notice-info {
    background-color: #FCFCDD;
    border-color: #BDBD89;
    color: #444;
}

.chip {
    padding: 5px 8px;
    margin: 5px 3px;
    border-radius: 20px;
    display: inline-block;
}

.chip.chip-sm {
    padding: 4px 12px;
    margin: 5px 3px;
}

.chip.chip-default {
    background-color: #383838;
    color: #ffffff;
}

.chip.chip-default a {
    color: #ffffff;
}

.chip.chip-primary {
    background-color: #2196f3;
    color: #ffffff;
}

.chip.chip-primary a {
    color: #ffffff;
}

.chip.chip-light {
    background-color: #bdbdbd;
    color: #000000;
}

.chip.chip-light a {
    color: #000000;
}

.chip.chip-warn {
    background-color: #f57c00;
    color: #ffffff;
}

.chip.chip-warn a {
    color: #ffffff;
}

.chip.chip-danger {
    background-color: #ff4c4c;
    color: #ffffff;
}

.chip.chip-danger a {
    color: #ffffff;
}

.chip.chip-success {
    background-color: #4caf50;
    color: #ffffff;
}

.chip.chip-success a {
    color: #ffffff;
}

.chip.chip-info {
    background-color: #00bcd4;
    color: #ffffff;
}

.chip.chip-info a {
    color: #ffffff;
}

.chip.chip-info-alt {
    background-color: #311b92;
    color: #ffffff;
}

.chip.chip-info-alt a {
    color: #ffffff;
}

.chip a, .chip a:hover, .chip a:focus {
    text-decoration: none;
}
